mixin poll_form(poll, options)
  -
    var action = "/voting-app/poll/";
    if(!poll) poll = {};
    if(options && options.method)
      action += poll.name + "?_method=" + options.method;
  form(method="post", action=action)
    .form-group
      label(for="name") Name
      input.form-control#name(type="text", name="name", placeholder="Name", value=poll.name, required=true)
    .form-group
      label(for="description") Description
      textarea.form-control#description(name="description", placeholder="Optional description", required=true)
        | #{poll.description}
    .form-group#option-input
      label(for="option-list-group") Options
      ul.list-group#options-list-group
        each option, i in poll.options
          li.list-group-item(id="option-wrapper-" + i)
            input(type="text", name="options[" + i + "]", value=option, required=true)
            button(type="button", id="delete-option-" + i) &times;
        li.list-group-item#add-option-li
          button(type="button", id="add-option") &plus;
    input.btn.btn-primary(type="submit", value="Save poll")

