mixin poll_form(poll, options)
  -
    var action = "/voting-app/poll/";
    if(!poll) poll = {};
    if(options && options.method)
      action += poll.name + "?_method=" + options.method;
  form(method="post", action=action)
    .form-group
      label(for="name") Name
      input.form-control#name(type="text", name="name", placeholder="Name", value=poll.name, required=true)
    .form-group
      label(for="description") Description
      textarea.form-control#description(name="description", placeholder="Optional description", required=true)
        | #{poll.description}
    .form-group#option-input
      label(for="option-list-group") Options
      ul.list-group#options-list-group
        if option
          each option, i in Object.keys(poll.options)
            li.list-group-item(id="option-wrapper-" + i)
              input.form-control(type="text", name="options['" + option + "']", value=option, required=true, style="width: 70%")
              button.btn.btn-danger(type="button", id="delete-option-" + i) &times;
        li.list-group-item#add-option-li
          button(type="button", id="add-option") &plus;
    input.btn.btn-primary(type="submit", value="Save poll")

