extends ../layout.pug

block title
  | #{poll.name}

block content
  p
    small A poll by 
      strong #{poll.user}

  .row
    .col-12.col-md-6
      p= poll.description
    .col-12.col-md-6
      form#vote-form(style= hasVoted ? "display: none;" : "")
        input(type="hidden", name="name", value=poll.name)
        .form-group
          each option, i in Object.keys(poll.options)
            .form-check
              label.form-check-label
                input.form-check-input(type="radio", name="option", required=true, value=option, checked= !i ? "checked" : false)
                | #{option}
        button.btn.btn-primary#vote-btn(type="submit") Vote!
      #vote-display(style= (hasVoted ? "" : "display: none;") + "width: 100%;")
        include _chart.pug
        button.btn.btn-primary#show-form-btn(type="button") Change vote
  form(action="/voting-app/poll/" + poll.name + "?_method=DELETE", method="POST")
    .btn-group
      if user
        button.btn.btn-secondary#add-option-btn(type="button", data-toggle="modal", data-target="#add-option-modal") Add option
        if(user.name == poll.user)
          a.btn.btn-secondary(href="/voting-app/poll/" + poll.name + "/edit") Edit
          button.btn.btn-danger(type="submit") Delete
  .modal.fade#add-option-modal(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Add an option
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body.p-3
          form#add-option-form(method="post", action="/voting-app/polls/" + encodeURIComponent(poll.name) + "/options")
            .form-group
              .row
                .col-12.col-md-6
                  input.form-control(type="text", name="option", required=true, placeholder="Option")
                .col-5.col-md-3.text-right
                  label.form-control-label(for="add-option-label") Color
                .col-7.col-md-3
                  input.form-check-input#add-option-label(type="color", name="color")
            .form-group
              input.btn.btn-primary(type="submit", value="Submit")
              button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel



block scripts
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="/scripts/vote.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/scripts/chart.js")
