doctype html
html(lang="en")
  head
    title
      block title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      .container
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", aria-label="Toggle navigation", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false")
          span.navbar-toggler-icon

        a.navbar-brand(href="/") Home

        .collapse.navbar-collapse#navbarToggler
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/voting-app/polls") Polls
          ul.navbar-nav.ml-auto
            if user
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdownMenu(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{user.name}
                .dropdown-menu.bg-faded(aria-labelledby="navbarDropdownMenu")
                    a.dropdown-item(href="/profile") Profile
                    .dropdown-divider
                    a.dropdown-item(href="/logout") Log out
            else
              li.nav-item
                a.nav-link(href="/login" + (url ? "?redirect=" + url : "")) Log in!
              li
                a.nav-link.btn.btn-primary.text-white(href="/signup") Sign up!

    .container(style="margin-top: 15px")

      h1
        block title

      -
        var errors = flash["error"];
        var alerts = flash["alert"];
        var infos = flash["info"];
        var successes = flash["success"];

      if(errors)
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden=true) &times;
          each error in errors
            strong= error
      if(alerts)
        .alert.alert-warning.alert-dismissible.fade.show(role="alert")
          button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden=true) &times;
          each alert in alerts
            strong= alert
      if(infos)
        .alert.alert-info.alert-dismissible.fade.show(role="alert")
          button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden=true) &times;
          each info in infos
            strong= info
      if(successes)
        .alert.alert-success.alert-dismissible.fade.show(role="alert")
          button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden=true) &times;
          each success in successes
            strong= success


      block content

    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    block scripts
